* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	min-width: 100vw;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	background-color: rgb(35, 38, 60);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.navbar-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-left: 1%;
	gap: 70px;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	text-decoration: none;
}

.logo-wrapper a {
	text-decoration: none;
}

.logo-wrapper img {
	width: 100%;
	height: auto;
}

.logo-text {
	font-size: 20px;
	font-weight: 700;
	line-height: 35.2px;
	color: #ffffff;
}

.logo-text span {
	font-style: italic;
	color: rgba(128, 135, 242);
}

.navbar-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: Hug (76px) px;
	height: Hug (40px) px;
	opacity: 1px;
}

.navbar-avatar img {
	width: 20px;
	height: auto;
	opacity: 0px;
}

.user-information {
	display: flex;
	flex-direction: row;
}

.user-information,
.date-container {
	padding: 4px 0px;
	color: rgba(255, 255, 255, 1);
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 500;
}

.arrow-down {
	position: relative;
	width: 28px;
	height: 28px;
	padding: 10.02px 7px 9.33px 7px;
	opacity: 0px;
	cursor: pointer;
}

.arrow-down img {
	width: 7px;
	height: 4.65px;
	top: 10.02px;
	left: 7px;
	opacity: 0px;
}

/* Dropdown Menu */
.dropdown-menu {
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	background: rgb(36, 38, 61);
	box-shadow: 0px 0px 1px 0px rgba(62, 67, 74, 0.31);
	border-radius: 4px;
	padding: 4px 0px 4px 0px;
	z-index: 1000;
	width: 180px;
	height: auto;
}

/* Dropdown Items */
.dropdown-menu ul {
	list-style: none;
	margin: 0;
	padding: 4px 0px;
}

.dropdown-menu ul li a {
	display: block;
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	text-decoration: none;
	padding: 10px 15px;
	transition: background-color 0.2s ease;
}

.navbar-avatar.active .dropdown-menu {
	display: block;
}

.dropdown-menu ul li {
	margin: 0;
	display: flex;
	align-items: center;
}

.dropdown-menu ul li img {
	width: 16px;
	height: 16px;
	gap: 0px;
	margin: 8px 0px 8px 24px;
}

/* Menu */
.hamburger-menu {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.hamburger-menu img {
	width: 100%;
	height: auto;
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 60px;
	left: -300px;
	width: 250px;
	height: calc(100vh - 60px);
	background: rgb(36, 38, 61);
	box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
	transition: left 0.3s ease-in-out;
	padding: 20px;
	z-index: 1000;
}

.sidebar.active {
	left: 0; /* Sidebar muncul */
}

.sidebar-list {
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
}

.sidebar-list li {
	padding: 3px;
	margin: 0;
}

.sidebar-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.sidebar-list li,
.sidebar-title p {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

/* Aktifkan Sidebar */
.sidebar.active {
	left: 0;
}

.arrow-wrapper,
.taskList-arrow {
	width: 30px;
	height: 30px;
}

.arrow-wrapper img,
#deleteAllButton img,
.add-task-title img,
.taskList-arrow img {
	padding: 5px;
	width: 20px;
	height: auto;
	cursor: pointer;
}

.arrow-wrapper:hover,
#deleteAllButton img:hover,
.add-task-title img:hover,
.taskList-arrow img:hover {
	background-color: rgb(200, 205, 253, 0.25);
	border-radius: 50%;
	transition: all 0.3s ease;
}

#up,
#down-hidden {
	display: none;
}

.sidebar-list {
	display: none;
}

/*checkbox */
.checkboxList {
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 0;
}

.sidebar-list li {
	padding: 8px;
	margin: 0;
}

.sidebar-list li:hover,
.sidebar-add:hover {
	background-color: rgb(200, 205, 253, 0.25);
	border-radius: 15px;
	transition: all 0.3s ease;
}

.checkbox-sidebar {
	width: 20px;
	height: 20px;
	cursor: pointer;
	appearance: none;
	background-color: rgb(36, 38, 61);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
	display: inline-block;
	position: relative;
	flex-shrink: 0;
}

.checkbox-taskList{	width: 20px;
	height: 20px;
	cursor: pointer;
	appearance: none;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(124, 91, 242);
	border-radius: 5px;
	display: inline-block;
	position: relative;
	flex-shrink: 0;}

.checkbox-sidebar:checked, .checkbox-taskList:checked {
	background-color: rgb(124, 91, 242);
	border-color: rgb(124, 91, 242);
}

.checkbox-sidebar:checked::after, .checkbox-taskList:checked::after {
	content: "✔";
	font-size: 16px;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
}

/* Sidebar Button */
.sidebar-add {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	padding: 8px;
}

.sidebar-add img {
	width: 20px;
	height: 20px;
}

.sidebar-add p {
	color: #fff;
}

/* Modal Styling */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#popupModal {
	display: none; /* Menyembunyikan modal pada awalnya */
}

/* Kotak Popup */
.modal-content {
	background: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	min-width: 300px;
}

#listName {
	min-width: 300px;
	padding: 8px;
	margin: 10px 0;
	background-color: rgb(220, 223, 255);
	border: 1px solid rgb(220, 223, 255);
	border-radius: 5px;
}

input:focus {
	border-bottom: 3px solid rgb(76, 41, 131); /* Ubah border saat input diklik */
	outline: none; /* Hilangkan outline bawaan browser */
	box-shadow: 0 0 5px rgba(76, 41, 131, 0.5); /* Tambahkan efek glow */
	background-color: rgba(125, 133, 220, 0.5); /* Warna latar saat diklik */
	color: #333; /* Warna teks */
}

input:hover {
	background-color: rgba(125, 133, 220, 0.5);
}

/* Tombol */
.modal-buttons {
	display: flex;
	justify-content: space-between;
}

.cancel,
.done {
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.cancel,
.done {
	background: none;
	color: rgb(76, 41, 131);
}

/* Main Content */
.mainContent {
	position: absolute;
	top: 60px;
	left: 0;
	background-color: rgb(36, 38, 61);
	min-width: 100vw;
	height: calc(100vh - 60px);
	transition: margin-left 0.3s ease;
	z-index: 1;
}

.mainContent-wrapper {
	border: 4px solid rgb(255, 255, 255);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	margin-top: 3px;
	position: relative;
	z-index: 2;
	width: 400px;
	min-height: auto
	padding: 5px 10px;
}

.task-header {
	border-bottom: 1px solid #ccc;
}

.task-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-title p {
	font-family: var(--tasks-font-family);
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
	letter-spacing: 0;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-block: 8px;
	flex: 1 1;
	margin-left: 16px;
}

.deleteButton {
	padding: px;
}

.add-task-title {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px;
	gap: 8px;
}

.add-task-title:hover {
	background-color: rgb(220, 223, 255);
	border-radius: 25px;
}

.add-task-title p {
	color: #7f88ed;
}

  

/* Container Form */
.form-container{
	width: 100%;
	max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 8px 0px;
}
.edit-form  {
	width: 100%;
	max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
} 

.text-input, .text-description, .date-input, .edit-priority {
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border: 1px solid #d1d5db; 
    border-radius: 0.375rem; 
}

.input-field,
.input-priority {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.input-field:focus,
.input-priority:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-button {
	display: flex;
	justify-content: center;
}

.custom-button {
	background-color: rgb(124, 91, 242);
	color: white;
	padding: 8px 16px;
	border-radius: 4px;
	width: 75px;
	transition: background-color 0.3s ease;
	margin: 8px 0px;
}

.custom-button:hover {
	background-color: rgb(200, 205, 251);
}

/* Responsifnya custom button */
@media (min-width: 640px) {
	.custom-button {
		width: auto;
	}
}

.task-list-container {
	padding: 2px;
}

.task-list {
	margin: 5px 0;
}

.task-list-header {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	gap: 8px;
}

.task-list-header p {
	padding-top: 4px;
}

.down-hidden {
	display: none;
}

.text-list{
    padding: 1rem; 
    border-radius: 0.375rem;
	text-decoration: none;
}

.text-list > * + * {
    margin-top: 0.5rem;

}

.top-row{
	display: flex;
	align-items: center
}

.date-row{
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: black;
}

.bottom-row{
	display: flex;
	gap: 0.5rem;
}

.delete-button{
	background-color: #f43f5e; /* rose-500 */
    color: #ffffff; /* white */
    padding: 0.25rem 0.75rem; /* py-1 (4px) dan px-3 (12px) */
    border-radius: 0.25rem; /* rounded (4px) */
    transition: background-color 0.2s ease-in-out;
}

.delete-button:hover {
    background-color: #e11d48; /* rose-600 */
}

.edit-button{
	background-color: #f97316; /* orange-500 */
    color: #ffffff; /* white */
    padding: 0.25rem 0.75rem; /* py-1 (4px) dan px-3 (12px) */
    border-radius: 0.25rem; /* rounded (4px) */
    transition: background-color 0.2s ease-in-out;
}

.edit-button:hover {
    background-color: #ea580c; /* orange-600 */
}

.high-priority {
    background-color: #fca5a5; /* bg-red-300 */
}

.medium-priority {
    background-color: #fde047; /* bg-yellow-300 */
}

.low-priority {
    background-color: #86efac; /* bg-green-300 */
}

.completed-task {
    background-color: #d1fae5; /* bg-green-100 */
}


.button-row {
    display: flex;
    gap: 12px;
}

.save-button {
    background-color: #3b82f6;
    color: white; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border-radius: 0.375rem; 
    transition: background-color 0.3s ease; 
}

.save-button:hover {
    background-color: #2563eb; 
}

.cancel-button {
    background-color: #d1d5db; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #9ca3af;
}

.line-through {
	text-decoration: line-through;
}

.taskName{
	padding: 5px;
	font-weight: 500;
	text-transform: capitalize
}

.desc-row span{
	font-style: italic;
	text-transform: capitalize
}


	  





